.form {
    width: 30%;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    z-index: 999;
    position: absolute;
    margin: -5% 25%;
}

.form-title {
    text-align: center;
    font-weight: 400;
}

.shot-description {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    min-height: 2em;
}

.detailed-description {
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    min-height: 6em;
}

.cancel-btn {
    background-color: white;
    border: solid 2px gray;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    position: relative;
    left: 70%;
}

.cancel-btn:hover {
    background-color: lightgray;
    cursor: pointer;
}

.create-btn {
    background-color: white;
    border: solid 2px gray;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    left: 70%;
}

.create-btn:hover {
    background-color: lightgray;
    cursor: pointer;
}

.dialog-delete {
    width: 30%;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    z-index: 999;
    position: absolute;
    margin: -3% 25%;
}

.dialog-text {
    display: block;
    width: 80%;
    margin-left: 5%;
    margin-bottom: 20px;
}